.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
    pointer-events: none;
  }

body {
  padding: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  text-align: center;
  padding: 10px 50px 50px 50px;
  font-size: 14px;
  box-shadow: 7px 11px 11px grey;
}

.form input {
  padding: 4px;
}

.messageModal p {
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.peopleList {
  margin-top: 10px;
}

.peopleList h4 {
  text-align: right;
  padding-right: 30px;
}

.peopleList .divButton {
  text-align: left;
  padding-left: 40px;
}

p {
  color: purple;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}
